<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  	<listener>
    	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  	</listener>
  	
   	<session-config>
        <session-timeout>120</session-timeout>
 	</session-config>
 	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>